@import "./../fonts/open-sans/open-sans.css";
@import "./../fonts/raleway/raleway.css";
@import "./../fonts/material-icons/material-icons.css";
@import "./ripple.css";

::-webkit-scrollbar{
    height: 6px;
    width: 6px;
}
::-webkit-scrollbar-thumb{
    background: rgb(49,49,49);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgb(73,73,73);
    transition: .4s;
}
::placeholder{
    color: white;
}

html,body{
    min-height: 100%;
}
body{
    height: 100vh;
    margin: 0;
}
#full-styled-body{
    user-select: none;
    color: rgb(66 66 66);
    display: flex;
    font-family: 'Open Sans';
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    background: url('./../images/nature.webp') no-repeat;
    background-size: cover;
}

.left-panel{
    background:  #e8e8e8f2;
    flex: .9 0 0;
    opacity: 1;
    transition: opacity .4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.flex-nav{
    background: #7c4dc9;
    height: 100%;
    min-width: 60px;
    transform: translateY(0%);
}
.msg-explorer-panel-container{
    height: 100%;
    min-width: 238px;
}
#msg-explorer-panel-left-container-hidden{
    display: none;
}
.msg-explorer-panel-wrapper{
    display: flex;
    flex-flow: column;
    height: 95%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.flex-nav-wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 77%;
    margin: 12px 0px;
    justify-content: flex-start;
    transform: translate(-50%,-50%);
}
.nav-button{
    border-radius: 50%;
    font-size: 29px!important;
    height: 50px;
    left: 50%;
    margin-bottom: 10px;
    transform: translateX(-50%);
    width: 50px;
}

.panel-heading-wrapper{
    align-items: center;
    display: flex;
    height: max-content;
    margin: 0;
    margin-bottom: 15px;
    padding: 0 20px;
}
.panel-header-text{
    flex: 2 1 0;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
.panel-subheader-menu{
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
}

.tab{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex: 1;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    height: 100%;
    letter-spacing: .3px;
}
.tab:hover{
    background: rgba(123,123,123,0.529);
    border-bottom: 3px solid black;
}
.tab:active,.tab:focus{
    border-bottom: 3px solid #888888;
}

.msg-area-wrapper{
    align-items: center;
    /* background: url('./../images/nature.webp') no-repeat;
    background-size: cover; */
    display: flex;
    flex: 2 0 0;
    flex-flow: column;
}
.msg-area{
    display: flex;
    flex: 1 0;
    flex-flow: column;
    overflow-y: scroll;
    width: 100%;
}
.recipient-stats-header{
    align-items: center;
    /* background: #7447ff; */
    backdrop-filter: blur(31px);
    border-radius: 27px;
    display: flex;
    height: 48px;
    margin: 5px;
    padding: 0 5px;
    width: 90%;
}
.recipient-info{
    align-items: center;
    border-radius: inherit;
    display: flex;
    padding: 0;
}
.avatar{
    font-size: 41px;
    margin-right: 10px;
}
.recipient-x{
    height: 100%;
    padding-right: 9px;
}
.recipient-name,.recipient-active-time{
    color: white;
    font-family: 'Raleway';
    margin: 0;
    text-align: justify;
}
.recipient-name{
    font-size: larger;
}
.recipient-active-time{
    font-size: smaller;
}
.recipient-options-wrapper{
    display: flex;
    flex: 1 .5 0;
    justify-content: flex-end;
}
.recipient-action-button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.texting-area{
    background: transparent;
    display: flex;
    flex-flow: column;
}

.input-box{
    justify-content: space-evenly;
    align-items: center;
    /* background: #5044ff; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    height: 52px;
    width: 90%;
    padding-bottom: 5px;
}
.input-box-btn{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
.text-input{
    display: flex;
    flex: 1;
    align-items: center;
    height: 90%;
    /* background: white; */
    /* border: 1px solid white; */
    border-radius: 25px;
    backdrop-filter: blur(50px);
    padding: 0px 2px;
}
.chat-input{
    flex: 1;
    height: 80%;
    background: transparent;
    color: white;
    padding-right: 15px;
    font-family: 'Open Sans';
    font-weight: lighter;
    font-size: 16px;
    border: none;
    outline: none;
}
#send-chat-btn{
    margin-left: 10px;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    flex: 0 0 44px;
    backdrop-filter: brightness(0.5);
}