@import './../fonts/open-sans/open-sans.css';
@import './../fonts/material-icons/material-icons.css';
@import './ripple.css';

html,body{
    min-height:100%;
}
body{
    height:100vh;
    margin: 0px;
}
#full-styled-body{
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans';
    -webkit-user-select: none;
    color: rgb(66 66 66);
}
.left-panel{
    flex: 0.9 0 0;
    background: #e8e8e8f2;
}
.flex-nav{
    background: #7c4dc9;
    display: flex;
    position: fixed;
    top: 50%;
    width: 70px;
    height: 95%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transform: translateY(-50%);
}
.msg-explorer-panel-container{
    height: 100%;
    width: calc(100% - 70px);
    min-width: 238px;
}
.msg-explorer-panel-wrapper{
    position: relative;
    display: flex;
    flex-flow: column;
    top: 50%;
    height: 95%;
    transform: translateY(-50%);
}
.flex-nav-visible{
    margin-left: 70px;
}
.flex-nav-hidden{
    margin-left: 0px;
}
.flex-nav-wrapper{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    width: 77%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.nav-button{
    left: 50%;
    margin-bottom: 10px;
    font-size: 29px !important;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transform: translateX(-50%);
}
.panel-heading-wrapper{
    display: flex;
    height: max-content;
    align-items: center;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px 20px;
}
.panel-header-text{
    flex: 2 1 0;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
.panel-subheader-menu{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
}
.tab{
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    flex: 1;
    font-family: 'Raleway';
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.3px;
}
.tab:hover{
    background: rgba(123, 123, 123, 0.529);
    border-bottom: 3px solid black;
}

.msg-area{
    flex: 2 0 0;
    background: #fff;
}